<!DOCTYPE html>
<html ng-app="crudApp" >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="" />
        <title>
        	ATI Manager
        </title>
        


    	<link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <link rel="stylesheet" media="all" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/angular-tj-toast.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-switch.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/checkbox3.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.dataTables.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/dropdownmy.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('assets/css/classic.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/classic.date.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/classic.time.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}" type="text/css" />
       

      
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-modal-bs3patch.css') }}" type="text/css" />

        <link rel="stylesheet" href="{{ asset('assets/css/angular-flash.min.css') }}" type="text/css" />
        

        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}" type="text/css" />

        
    </head>
    
    <body class="bod">
    
   
    {% block body %}


    {% endblock %}

    
    <script type="text/javascript" src="{{ asset('assets/js/jquery-3.1.0.js')}}"></script>


    
    

   
   
    <script type="text/javascript" src="{{ asset('assets/js/angular.1.5.8.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/angular-route.min.js')}}"></script>

        <script type="text/javascript" src="{{ asset('assets/js/form/ng-flow-standalone.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/angular-strap.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/angular-strap.tpl.min.js')}}"></script>


    
    <script type="text/javascript" src="{{ asset('assets/js/form/angular-sanitize.min.js')}}"></script>
     <script type="text/javascript" src="{{ asset('assets/js/form/tv4.js')}}"></script>
      <script type="text/javascript" src="{{ asset('assets/js/form/ObjectPath.js')}}"></script>
       <script type="text/javascript" src="{{ asset('assets/js/form/schema-form.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/bootstrap-decorator.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/bootstrap-datepicker.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/picker.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/picker.date.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/picker.time.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/legacy.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/angular-messages.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/angular-translate.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/ng-file-upload-all.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/schema-form-file-upload.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/angular-schema-form-base64-file-upload.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/form/angular-upload.min.js')}}"></script>

        

        <script type="text/javascript" src="{{ asset('assets/js/flash/angular-flare.js')}}"></script>










   <script type="text/javascript" src="{{ asset('assets/ati/js/app.js')}}"></script>
   

    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-datepicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/alert.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/apptheme.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/button.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/card.js')}}"></script>
   
    <script type="text/javascript" src="{{ asset('assets/js/list.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/modal.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/theming.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/select2.full.min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/demo.js')}}"></script>
    
    

    
    
    

    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/theme-github.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/login.js')}}"></script>
    

    


    </body>

</html>
